@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h4, p, a {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
}

h2, h3 {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.2rem;
}

h2.segundotitulo {
  font-weight: 500;
  font-size: 1.5rem;
}
@media (min-width: 660px) and (max-width: 900px) {
  h2.segundotitulo {
    font-size: 3.5rem;
  }
}
@media (min-width: 900px) {
  h2.segundotitulo {
    font-size: 5rem;
  }
}

h1 {
  font-family: "Berkshire Swash", cursive, sans-serif;
  font-size: 2rem;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 660px) {
  footer {
    padding: 8px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

div.redessociales {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
@media (min-width: 660px) {
  div.redessociales {
    width: 20%;
  }
}

.whatsapp {
  width: 35px;
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 120px;
  position: fixed;
  transition: all 1s;
}
@media (min-width: 660px) {
  .whatsapp {
    width: 40px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: auto;
    bottom: 70px;
    position: fixed;
  }
}

.whatsapp:hover {
  transform: rotatey(360deg);
}

header {
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0%;
  z-index: 1;
}
@media (min-width: 660px) {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 1;
  }
}

div.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
}

a.titulo {
  text-decoration: none;
  color: white;
  padding: 5px;
}

@media (min-width: 660px) {
  nav {
    width: 55%;
    display: inline-block;
    flex-wrap: wrap;
    align-self: flex-end;
  }
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
}
ul li {
  background-color: black;
  padding: 2px 1px;
  border-radius: 10px;
  border: white 1px solid;
  transition: all 1s;
}
@media (min-width: 660px) {
  ul li {
    padding: 5px 1px;
  }
}
ul a {
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: white;
  opacity: 0.9;
  border-color: white;
  padding: 2px 5px;
}
@media (min-width: 660px) {
  li:hover {
    padding: 5px 15px;
  }
}
li:hover a {
  color: black;
}

input, textarea {
  background-color: rgb(136, 136, 136);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

input:hover, textarea:hover {
  background-color: white;
  color: black;
}

select {
  width: 80%;
  margin: 10px auto;
  background-color: rgb(136, 136, 136);
  border-radius: 5px;
  font-size: 1rem;
}

.env {
  width: 30%;
  margin: 10px auto;
}

@media (min-width: 660px) {
  section.secciondecontacto {
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
  }
}

.articulodecontacto {
  width: 80%;
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
  padding: 5px;
}
@media (min-width: 660px) {
  .articulodecontacto {
    width: 43%;
    grid-area: formulario;
  }
}

div.formulario {
  display: flex;
  flex-direction: column;
}

@media (min-width: 660px) {
  .divimagencontacto {
    width: 42%;
    height: 550px;
    margin: auto;
    grid-area: imagenf;
  }
}

.imagendecontacto {
  width: 0%;
}
@media (min-width: 660px) {
  .imagendecontacto {
    width: 100%;
    height: 100%;
  }
}

div.divtrabajos {
  background-color: rgb(12, 12, 12);
  overflow: auto;
  width: 90%;
  height: 130px;
  display: flex;
  margin: 25px auto;
}
@media (min-width: 660px) {
  div.divtrabajos {
    width: 95%;
    height: 200px;
  }
}

.trabajocontacto {
  width: 200px;
  height: 90%;
  margin: auto 10px;
}
@media (min-width: 660px) {
  .trabajocontacto {
    width: 360px;
    height: 90%;
    margin: auto;
  }
}

div.titulo3 {
  width: 100%;
  background: linear-gradient(320deg, rgba(213, 213, 213, 0.7931547619) 0%, rgb(112, 112, 112) 50%, rgb(255, 255, 255) 100%);
  text-align: center;
}
div.titulo3 h3 {
  font-size: 1.5rem;
}
@media (min-width: 660px) {
  div.titulo3 {
    padding: 1.8px;
    font-size: 5rem;
  }
}

.prueba {
  width: 95%;
  margin: 10px auto;
  padding: 20px;
  color: white;
}
@media (min-width: 660px) {
  .prueba {
    width: 45%;
    margin: 15px 50px;
  }
}
.prueba h3 {
  line-height: 50px;
  text-align: center;
  font-size: 1.8rem;
}
@media (min-width: 660px) {
  .prueba h3 {
    font-size: 2.5rem;
  }
}
.prueba p {
  font-size: 1.4rem;
  text-align: justify;
}
@media (min-width: 660px) {
  .prueba p {
    font-size: 2rem;
  }
}
.prueba div {
  width: 120px;
  background-color: white;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
  transition: all 1s;
}
.prueba div:hover {
  background-color: rgb(12, 12, 12);
  border: solid 1px white;
}
.prueba a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  transition: all 1s;
}
.prueba a:hover {
  color: white;
}

div.imagend2 {
  width: 90%;
  display: inline-block;
  position: absolute;
  z-index: -1;
  right: 5px;
  top: 400px;
}

.logonew {
  width: 100%;
  height: 400px;
}

div.subtitulo {
  width: 100%;
  background: linear-gradient(320deg, rgba(213, 213, 213, 0.7931547619) 0%, rgb(112, 112, 112) 50%, rgb(255, 255, 255) 100%);
  text-align: center;
}
div.subtitulo h2 {
  font-size: 2rem;
}
@media (min-width: 660px) {
  div.subtitulo {
    padding: 2px;
  }
  div.subtitulo h2 {
    font-size: 2.5rem;
  }
}

@media (min-width: 660px) {
  div.trabjosdiseño {
    background-color: rgb(5, 5, 5);
    display: grid;
    width: 95%;
    height: 450px;
    grid-template-columns: 65% 30%;
    grid-template-areas: "uno dos";
    gap: 5px;
    margin: 50px auto;
  }
}

@media (min-width: 660px) {
  div.trabajodiseñouno {
    overflow: auto;
    gap: 20px;
    grid-area: uno;
  }
}

@media (min-width: 660px) {
  div.trabajoimagen {
    grid-area: dos;
  }
}

article.articulodiseñodos {
  width: 85%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  margin: 20px auto;
  text-align: center;
  color: white;
}
@media (min-width: 660px) {
  article.articulodiseñodos {
    width: 100%;
    margin: auto;
  }
}

.imagendiseño {
  width: 100%;
  height: 100%;
}

.imagenescaleras {
  width: 0%;
}
@media (min-width: 660px) {
  .imagenescaleras {
    width: 100%;
    height: 100%;
  }
}

section.seccionempresa {
  text-align: center;
}
@media (min-width: 660px) {
  section.seccionempresa {
    display: grid;
    width: 95%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30%;
    grid-template-areas: "quien imagenq" "imagenm mision" "vision imagenv";
    gap: 60px 20px;
    padding: 20px;
    margin: 10px auto;
  }
}

div.emp {
  color: white;
  margin: auto;
}
div.emp h3 {
  font-size: 1.5rem;
  line-height: 50px;
}
@media (min-width: 660px) {
  div.emp h3 {
    font-size: 1.8rem;
  }
}
@media (min-width: 900px) {
  div.emp h3 {
    font-size: 2.2rem;
  }
}
@media (min-width: 900px) {
  div.emp p {
    font-size: 1.5rem;
  }
}

article.quienes {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  margin: 25px auto;
}
@media (min-width: 660px) {
  article.quienes {
    width: 100%;
    height: 320px;
    padding: 5%;
    margin: auto;
    grid-area: quien;
  }
}

article.mision {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  margin: 20px auto;
}
@media (min-width: 660px) {
  article.mision {
    width: 100%;
    height: 320px;
    padding: 5%;
    margin: auto;
    grid-area: mision;
  }
}

article.vision {
  width: 75%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  margin: 20px auto;
}
@media (min-width: 660px) {
  article.vision {
    width: 100%;
    height: 320px;
    padding: 5%;
    margin: auto;
    grid-area: vision;
  }
}

article.imagenq {
  width: 0%;
}
@media (min-width: 660px) {
  article.imagenq {
    width: 90%;
    height: 300px;
    margin: auto;
    grid-area: imagenq;
  }
}

article.imagenm {
  width: 0%;
}
@media (min-width: 660px) {
  article.imagenm {
    width: 90%;
    height: 300px;
    margin: auto;
    grid-area: imagenm;
  }
}

article.imagenv {
  width: 0%;
}
@media (min-width: 660px) {
  article.imagenv {
    width: 90%;
    height: 300px;
    margin: auto;
    grid-area: imagenv;
  }
}

.imagenemp {
  width: 0%;
}
@media (min-width: 660px) {
  .imagenemp {
    width: 100%;
    height: 300px;
  }
}
@media (min-width: 900px) {
  .imagenemp {
    width: 80%;
    height: 280px;
  }
}

body {
  width: 100%;
  background-color: rgb(5, 5, 5);
}

main {
  width: 100%;
}

div.uno {
  width: 100%;
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-items: center;
  color: white;
  align-items: center;
  margin: 10px auto;
  border-radius: 10px;
}

div .logouno {
  width: 45%;
  margin: 10px auto;
}
div .pagina {
  width: 45%;
  margin: auto;
}

.logo {
  width: 100%;
  border-radius: 30px;
}

div article.articleindex {
  width: 85%;
  padding: 10px;
  margin: 45px auto;
  transition: all 1s;
  color: white;
}
div article.articleindex:hover {
  width: 90%;
}
@media (min-width: 660px) {
  div article.articleindex:hover {
    width: 45%;
  }
}
@media (min-width: 900px) {
  div article.articleindex:hover {
    width: 32%;
  }
}
div h3.diseño {
  background-color: rgb(12, 12, 12);
  width: 100%;
  line-height: 30px;
  text-align: center;
  font-size: 1.8rem;
  padding: 5px;
}
div p {
  width: 100%;
  line-height: 30px;
  text-align: center;
}
@media (min-width: 660px) {
  div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  div article.articleindex {
    width: 40%;
  }
}
@media (min-width: 660px) and (min-width: 900px) {
  div article.articleindex {
    width: 30%;
  }
}

.imagenindex {
  width: 100%;
  height: 250px;
}
@media (min-width: 660px) {
  .imagenindex {
    height: 250px;
  }
}
@media (min-width: 900px) {
  .imagenindex {
    height: 200;
  }
}

/*# sourceMappingURL=styles.css.map */
