// Colores
$coloruno:black;
$colordos:white;
$colordos2:rgb(255, 255, 255, .8);
$colortres: rgb(12, 12, 12);
$colorcuatro: rgb(5, 5, 5);
$colorcinco:rgb(214, 161, 203);
$colorseis:rgb(179, 0, 119);
$colorsiete:rgb(34, 0, 34);
$colorocho:red;
$colornueve:blue;
$colordies:yellow;
$colordies:rgb(24, 0, 15);
// Medidas de @Media
$media-uno:650px;
$media-dos:900px;



