// Colores
$coloruno:black;
$colordos:white;
$colortres: rgb(32, 32, 32);
$colorcuatro: rgb(59, 59, 59);
$colorcinco:rgb(214, 161, 203);
$colorseis:rgb(179, 0, 119);
$colorsiete:rgb(34, 0, 34);
$colorocho:red;
$colornueve:blue;
$colordies:yellow;
$colordies:rgb(24, 0, 15);
// Medidas de @Media
$media-uno:660px;



