@mixin piedepagina {
    @media (min-width:$media-uno){
        @content    
    }
}   
footer{
    width: 100%;
    background-color: $coloruno;
    color:$colordos;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

img{
    color:$colorseis;
    @include piedepagina(){        
    }
}

    .contactos{
    @include piedepagina(){
        display: flex;
        flex-wrap: wrap;       
    }
    
}


