@mixin piedepagina {
    @media (min-width:$media-uno){
        @content    
    }
}   
footer{
    width: 100%;
    background-color: $coloruno;
    color:$colordos;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    @include piedepagina(){
        padding: 8px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

div.redessociales{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-top: 10px;   
    @include piedepagina(){
        width: 20%;

    }        
}
.whatsapp{
    width: 35px;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 120px;
    position: fixed;
    @include piedepagina(){
        width: 40px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: auto;
        bottom: 70px;
        position: fixed;
    }
}   


