@mixin encabezado {
    @media (min-width:$media-uno){
        @content        
    }
    
}
header{
    width: 100%;
    background-color: $coloruno;
    position: sticky;
    top: 0%;
    z-index: 1;
    @include encabezado(){
        display:flex;
        flex-wrap: wrap;
        justify-content:space-between;
        align-items: center;
        position: sticky;
        top: 0%;
        z-index: 1;
    }   
}
div.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.titulo{
    text-decoration: none;
    color: $colordos;
    padding: 5px;
    }
