@mixin navegador{
    @media (min-width:$media-uno){
        @content        
    } 
}
nav{
    @include navegador(){
    width: 55%;
    display: inline-block;
    flex-wrap: wrap;
    align-self: flex-end;
   } 
}
ul{
    list-style: none;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 10px;
    li{
        background-color:$coloruno;
        padding: 2px 1px;
        border-radius: 10px;
        border: $colordos 1px solid;
        transition: all 1s;
        @include navegador(){
            padding: 5px 1px;
        }
    }
    a{
            text-decoration: none;
            color: $colordos;
    }
}

li:hover{
    background-color:$colordos;
    opacity: .9;
    border-color:$colordos;
    padding: 2px 5px;
    @include navegador{
        padding: 5px 15px;
    }
    a{
        color: $coloruno;
    }
}