//Formulario 
input, textarea{
    background-color:$colorcinco;
    border-radius: 10px;
    padding: 5px;
    margin:  10px;    
}
input:hover, textarea:hover{
    background-color:$colordos;
    color: $coloruno;
   
}
select{
    width: 80%;
    margin: 10px auto;
    background-color:$colorcinco;
    border-radius: 5px;
    font-size: 1rem;  
}
// @Media 
@mixin contacto{
    @media (min-width:$media-uno){
        @content        
    } 
}
section.secciondecontacto{
    @include contacto(){
        display: flex;
        flex-wrap: wrap;
        margin: 30px auto;

    }
}
    .articulodecontacto{
        display: flex;
        flex-direction:column;
        width: 80%;
        background-color: $coloruno;
        color:$colordos;
        text-align: center;
        margin: auto;
        @include contacto(){
            width: 40%;    
            grid-area: formulario;
        }
    }
    .divimagencontacto{
        @include contacto(){
            width: 45%;
            height: 600px;
            margin: auto;
        grid-area: imagenf;
        }
    }
.imagendecontacto{
    width: 0%;
    @include contacto(){
    width: 100%;
    height: 100%;
    }
}
//Muestra de Trabajos
div.divtrabajos{
    background-color: $colortres;
    overflow-x: auto;
    width: 90%;
    height: 130px;
    display: flex;
    margin:  25px auto;
    @include contacto(){
        width: 95%;
        height: 200px;
    }
}
.trabajocontacto{
    width: 200px;
    height: 90%;
    margin: auto 10px;
    @include contacto(){
    width: 360px;
    height: 90%;
    margin: auto;
    }
}
