//Formulario 
input, textarea{
    background-color:$colorcinco;
    border-radius: 10px;
    padding: 10px;
    margin:  15px;    
}
input:hover{
    background-color:$colordos;
   
}
select{
    background-color:$colorcinco;
    border-radius: 5px;
    padding: 2px;
    margin:  1px;
}
// @Media 
@mixin contacto{
    @media (min-width:$media-uno){
        @content        
    } 
}
section.secciondecontacto{
    @include contacto(){
        width: 90%;
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-areas:
        "formulario imagenf";
        gap: 10px;
        margin: 20px auto;

    }
}

div.articulodecontacto{
    display: flex;
    flex-direction:column;
    width: 85%;
    background-color: $coloruno;
    color:$colorcinco;
    text-align: center;
    padding: 15px;
    margin:  25px auto;
    border-radius: 10px;
    @include contacto(){
        width: 90%;    
        grid-area: formulario;
    }
}
div.divimagencontacto{
    @include contacto(){
    width: 100%;
    grid-area: imagenf;
    }
}
.imagendecontacto{
    width: 0%;
    @include contacto(){
    width: 98%;
    height: 100%;
    }
}
div.divtrabajos{
    background-color: $colortres;
    overflow: auto;
    width: 90%;
    height: 120px;
    display: flex;
    border: 3px solid $colorcinco;
    padding: 5px;
    margin: 10px auto;
    @include contacto(){
        height: 200px;
    }

}
.trabajocontacto{
    border: 1px solid $colorcinco;
    width: 150px;
    height: 80%;
    margin: 10px;
    @include contacto(){
    width: 300px;
    height: 80%;
    margin: 10px;
    }
}
