@mixin diseñodos{
    @media (min-width:$media-uno){
        @content        
    } 
}

div.imagend2{
        width: 100%;
        margin: auto;
    }

.logonew{
    width: 100%;
    height: 350px;
    @include diseñodos(){
        width: 100%;
        height: 620px;
   } 
}
.prueba{
    width: 50%;
    text-align: justify;
    color: $colordos;
    p{
        font-size: 2rem;
    }
}