@mixin disenodos{
    @media (min-width:$media-uno){
        @content        
    } 
}
@mixin disenodosg{
    @media (min-width:$media-dos){
        @content        
    } 
}
.prueba{
    width: 95%;
    margin:  10px auto;
    padding: 10px;
    color: $colordos;
    @include disenodos(){
        width: 65%;
        margin: 10px 10px;
    }
    @include disenodosg(){
        width: 60%;
        margin: 20px 50px;
    }

    h3{
        line-height: 50px;
        text-align: center;
        font-size: 1.8rem;
        @include disenodos(){
            line-height: 65px;
            font-size: 2.5rem;
        } 
        @include disenodosg(){
            line-height: 80px;
            font-size: 3rem;
        } 

    }
    p{
        margin-top: 15px;
        padding: 10px;
        font-size: 1.4rem;
        text-align: justify;
        transition: all 1s;
        @include disenodos(){
            font-size: 1.8rem;
        }
        @include disenodosg(){
            line-height: 45px;
            font-size: 2.2rem;
        } 
    }
    p:hover{
        background-color:$colordos;
        color: $coloruno;
        padding: 15px;
        border-radius: 10px;
    }
    
    div{
        width: 120px;
        background-color:$coloruno;
        border: solid 1px $colordos;
        margin: 20px auto;
        text-align: center;
        padding: 10px;
        border-radius: 20px;
        transition: all 1s;

    }
    div:hover{
        background-color:$colordos;
    }
    a{   
        font-size: 1.5rem;
        text-decoration: none;
        color: $colordos;
        transition: all 1s;
    }
    a:hover{
        color: $coloruno;

    }
}
div.imagend2{
    width: 90%;
    display: inline-block;
    position: absolute;
    z-index: -1;
    right: 5px;
    top: 400px;
    @include disenodos(){
        width: 45%;
        top: 200px;
}
    @include disenodosg(){
        width: 70%;
        top: 280px;
}
}
.logonew{
width: 100%;
height: 400px;
filter: opacity(.5);
@include disenodos(){
height: 550px;
}
}