@mixin diseño{
    @media (min-width:$media-uno){
        @content        
    } 
}
div.subtitulo{
    width: 100%;
    background-color: $colorseis;
    text-align: center;
    padding: 1px;
    line-height: 20px; 
    @include diseño(){
        width: 90%;
        margin: 5px auto;
        padding: 10px;
   } 
}
div.temauno{
    width: 100%;
    height: 130px;
    background-image: url(../../imagnes/a.jpg);
    background-position: center;
    background-size: cover;
    margin: 10px auto;
    display: flex;
    h2{
        background-color: $colortres;
        width: 100%;
        height: 35%;
        font-size: 2rem;
        color:$colordos;
        text-align: center;
        margin: auto;
    }
}


div.trabjosdiseño{
    @include diseño(){
    background-color: $colortres;
    display:grid;
    width: 90%;
    height: 600px;
    grid-template-columns: 65% 30%;
    grid-template-areas:
    "uno dos";
    gap: 5px;
    margin: 50px auto;
}
}
div.trabajodiseñouno{
    @include diseño(){
    overflow: auto;
    gap: 20px;
    grid-area:uno;
    background: url(../imagnes/espacio100.jpg);
    background-size: cover;
    background-position: center;
}
}
div.trabajoimagen{
    @include diseño(){
    grid-area: dos;
    }
}

article.articulodiseñodos{
    width: 85%;
    background-color: $colortres;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    color: $colordos;
    transition: all 3s;
    @include diseño(){
        width: 100%;
        margin: auto;
    }
}
article.articulodiseñodos:hover{
    border: 3px solid $colordos;
}


//imagenes
.imagendiseño{
    width: 100%;
    height: 100%;
}
.imagenescaleras{
    width: 0%;
    @include diseño()
    {
        width: 95%;
        height: 100%;
    }
}