@mixin empresas{
    @media (min-width:$media-uno){
        @content        
    } 
}
@mixin empresados{
    @media (min-width:$media-dos){
        @content        
    } 
}
section.seccionempresa{
    text-align: center;
    @include empresas(){
        display:grid;
        width: 95%;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 30% 30%;
        grid-template-areas:
        "quien imagenq"
        "imagenm mision"
        "vision imagenv";
        gap: 60px 20px;
        padding: 20px;
        margin:  10px auto;
        }
}
div.emp{
    color: $colordos;
    margin: auto;
    h3{
        font-size: 1.5rem;
        line-height: 55px;
        @include empresas(){
            font-size: 2rem;
        }   
        @include empresados(){
            font-size: 2.8rem;
        }        
    }
    p{
        @include empresados(){
            font-size: 1.6rem;
        } 
    }   
}
article.quienes{
    width: 90%;
    background-color:$colordos2;
    padding: 20px;
    margin: 25px auto;
    @include empresas(){
        width: 90%;
        height: 300px;
        padding: 5%;
        margin: auto;
        grid-area: quien;
    }
} 
article.mision{
    width: 90%;
    background-color:$colordos2;
    padding: 15px;
    margin: 20px auto;
    @include empresas(){
            width: 90%;
            height: 250px;
            padding: 5%;
            margin: auto;
            grid-area: mision;
        }
    }
article.vision{
    width: 90%;
    background-color:$colordos2;
    padding: 15px;
    margin: 20px auto;
    @include empresas(){
        width: 90%;
        height: 250px;
        padding: 5%;
        margin: auto;
        grid-area: vision;
    }
}
