body{
    width: 100%;
    background-color: $coloruno;
}
main{
    width: 100%;
}
@mixin inicio{
    @media (min-width:$media-uno){
        @content        
    } 
}
div.uno{
    width: 95%;
    background-color:$colortres;
    display: flex;
    justify-items: center;
    color: $colordos;
    align-items: center;
    margin: 5px auto;
    border-radius: 10px;
}
div{
    .logouno{
        width: 45%;
        margin: 10px auto;
    }   
    .pagina{
        width: 45%;
        margin: auto;
        
    }
}
.logo{
    width: 100%;
    border-radius: 20px;
}

div{
   article.articleindex{
        width: 80%;
        background-color: $colordos;
        padding: 2%;
        margin: 10px auto;
        transition: all 1s;
    }
    article.articleindex:hover{
        width: 85%;
        background-color: $coloruno;
        border: 2px solid $colordos;
        padding: 2%;
        margin: 10px auto;
        color: $colordos;
    }

    h3{
        line-height: 20px;
        text-align: center;
    }
    @include inicio(){
        display: flex;
        flex-wrap: wrap;
        article.articleindex{
            width: 30%;
            padding: 1%;
            margin: 70px auto;
        }
    }
}
//Imagenes 
.imagenindex{
    width: 100%;
}
.divaidex{
    text-align: center;
    width: 100%;
    margin: 10px auto;

}
.aindex{
    justify-content:space-around;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    background-color:$colorseis;
    padding: 5px 1px;
    border-radius: 100px; 
    border: $colortres 3px solid;
    text-decoration: none;
    text-align: center;
    color: $colordos;
    margin:  2px auto;
}
.aindex:hover{
    background-color:$colordos;
    border: $colorseis 3px solid;
    color:$coloruno;
}

//Este lo comparte las demas paginas
div.subtitulo{
    width: 100%;
    background-color: $colortres;
    text-align: center;
    padding: 1px;
    line-height: 20px; 
    @include inicio(){
        width: 95%;
        margin: 5px auto;
        padding: 10px;
   } 
}