@mixin letras{
    @media (min-width:$media-uno) and (max-width:$media-dos){
        @content        
    } 
}
@mixin letrasdos{
    @media (min-width:$media-dos){
        @content        
    } 
}
h4, p, a{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
}
h2, h3{
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
}
h2.segundotitulo{
    font-weight: 500;
    font-size: 1.5rem;
    @include letras(){
        font-size: 3.5rem;
    }
    @include letrasdos(){
        font-size: 5rem;
       } 

}
h1{
    font-family: 'Berkshire Swash',cursive,sans-serif;
    font-size: 2rem;
}
